################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/async-await-example/bin
/.vs/async-await-example
/async-await-example/obj
/output
